---
import { Icon } from "astro-icon";
---

<section
  id="about-us"
  class="flex scroll-mt-24 items-left gap-8 space-y-8"
>
    <div>
        <div class="flex items-left p-10">
            <Icon slot="eyebrow" name="wordmark" class="h-16" />      
        </div>

        <p class="text-left font-extrabold text-xl px-10">
            A initiative made by the Universidade Federal do Rio Grande 
            <span class="text-primary">automation</span> and 
            <span class="text-primary">intelligent robotics</span> group. 
            Having, at first, a mobile and autonomous robot team, to participate in robot soccer championships in the small size category.
        </p>
    </div>

    <div class="w-full">
        
    </div>

</section>
