---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

export interface Props {
    posts: any[];
}

const { posts } = Astro.props
---
<style>
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #f5f5f5;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #f97316;
        border-radius: 8px;
    }

    .custom-scrollbar {
        overflow-x: scroll;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        
    }
</style>

<ContentSection title="Blog" id="blog">
    <div class="flex flex-row flex-nowrap gap-8 pb-4 custom-scrollbar">
        {posts.map(({title, description, date, url}) => 
            <div class="
                p-4 w-[350px] 
                flex flex-none flex-col justify-between gap-4 
                bg-white 
                border-l-4 border-orange-500
            ">
                <h3 class="font-blackops text-gray-900">{title}</h3>
                <p class=" text-sm font-medium mr-4 text-gray-600">{description}</p>

                <div class="flex justify-between items-end">
                    <span class="text-offset font-medium text-xs">{date}</span>
                    <a href={url} target="_blank" class="flex justify-center items-center gap-2 bg-orange-500 p-4 h-8">
                        <span class="text-xs font-bold">Read More</span>
                        <Icon class="h-6" name="ph:arrow-square-up-right-fill" />
                    </a>
                </div> 
            </div>
        )}
    </div>
</ContentSection>