---


export interface Props {
  id: string;
  title: string;
  theme?: 'dark' | 'light';
}

const { title, id, theme = 'dark' } = Astro.props;
---

<!-- change background color based on theme prop -->
<section id={id} class={`flex-1 scroll-mt-24 flex-col items-left gap-6 space-y-8 p-14`}>
    <div class="flex flex-col items-left gap-4">
        <h2 class="text-left font-extrabold tracking-tight text-6xl">{title}</h2>
    </div>
    <slot />
</section>
