---


export interface Props {
  id: string;
  title: string;
  theme?: 'dark' | 'light';
}

const { title, id, theme = 'dark' } = Astro.props;

const themeClass = theme === 'dark' ? 'bg-gray-900 text-white' : 'bg-white text-gray-900';
---

<!-- change background color based on theme prop -->
<section id={id} class={`flex-1 flex-col items-left gap-6 space-y-8 p-14 ${themeClass}`}>
    <div class="flex flex-col items-left gap-4">
        <h2 class="font-blackops text-left tracking-tight text-6xl">{title}</h2>
    </div>
    <slot />
</section>
