---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
	{
		url: "https://astro.build/",
		description: "Astro's official website",
		icon: "mdi:home",
	},
	{
		url: "https://github.com/mhyfritz/astro-landing-page",
		description: "View source on GitHub",
		icon: "fa-brands:github-alt",
	},
	{
		url: "https://astro.build/chat",
		description: "Astro on Discord",
		icon: "fa-brands:discord",
	},
	{
		url: "https://twitter.com/astrodotbuild",
		description: "Astro on Twitter",
		icon: "fa-brands:twitter",
	},
];
---

<footer class="relative flex h-72 items-center justify-around py-8">
	<div class="flex flex-col">
		<div class="flex justify-center items-center">
			<Icon name="logomark" class="h-60" />
		</div>
	</div>

	<div class="w-1/2 flex flex-col gap-4 spacing-y-4">
		<div class="flex flex-col gap-2 text-right">
			<h3 class="text-xl font-bold">Get in Touch</h3>

			<ul class="relative flex justify-end gap-2">
				{ links.map((link) => (
					<li>
						<a class="flex h-16 w-16 items-center justify-center rounded-full border-1 border-current p-4" href={link.url}>
							<span class="sr-only">{link.description}</span>
							<Icon class="h-full" name={link.icon} />
						</a>
					</li>
				)) }
			</ul>
		</div>
		<div class="w-100 border-2 border-slate-500"></div>
		<div class="flex justify-center items-center h-20">
			<!-- #TODO fix sizes -->
			<Picture src="logo.png" alt="Poatek Logo" class="h-16" widths={[742, 186]} aspectRatio="4:1" sizes="(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw"/>
		</div>
	</div>
</footer>
