---
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
	{
		url: "/",
		description: "Home",
		icon: "mdi:home",
	}, {
		url: "https://www.facebook.com/furgbot/",
		description: "Facebook",
		icon: "fa-brands:facebook",
	}, {
		url: "https://www.instagram.com/furgbot/",
		description: "Instagram",
		icon: "fa-brands:instagram",
	},
	{
		url: "https://www.linkedin.com/company/fbot/",
		description: "Linkedin",
		icon: "fa-brands:linkedin",
	},
	{
		url: "https://www.youtube.com/channel/UCOcwv9vijNl2tEvIS8iMFPg",
		description: "Youtube",
		icon: "fa-brands:youtube",
	},
];
---

<footer id="footer" class="bg-color-orange max-w-7xl m-auto relative flex md:h-72 h-80 lg:items-center items-start md:pt-0 pt-6 justify-around md:py-8">
	<div class="hidden md:flex flex-col">
		<div class="flex justify-center items-center">
			<Icon name="logomark" class="h-20 md:h-52" />
		</div>
	</div>

	<div class=" md:w-7/12 w-11/12 flex flex-col gap-4 spacing-y-4">
		<div class="flex flex-col gap-2 text-center md:text-right">
			<h3 class="md:text-xl text-lg font-bold">Get in Touch</h3>

			<ul class="relative flex justify-center md:justify-end gap-2">
				{ links.map((link) => (
					<li>
						<a class="flex border-2 md:w-14 md:h-14 w-10 h-10 items-center justify-center border-1 border-current p-3 hover:bg-orange-500 rounded-full" href={link.url}>
							<span class="sr-only">{link.description}</span>
							<Icon class="w-16" name={link.icon} />
						</a>
					</li>
				)) }
			</ul>
		</div>
		<div class="border-2 border-slate-500"></div>
		<div class="flex flex-col md:flex-row justify-center items-center md:gap-8 gap-2">
			<div class="flex flex-row items-center justify-center gap-8">
			<div class="flex md:flex-row flex-col  gap-2 items-center justify-center">
				<img src="PRH.svg" alt="PRH Logo" class="h-10 md:h-[4.1rem]" />
				<img src="Refinaria.svg" alt="Refinaria Logo" class="h-12 md:h-[5rem]">
			</div>
			<div class="flex flex-col items-center justify-center gap-2 mt-2">
				<img src="icourt.svg" alt="ICourt Logo" class="h-6 md:h-6" />
				<img src="poatek.png" alt="Poatek Logo" class="h-6 md:h-6" />
				<img src="goahead.svg" alt="goAhead Logo" class="h-6 md:h-6" />
			</div>
			<div class="flex flex-col items-start justify-center gap-[0.3rem] mt-2">
				<img src="c3.png" alt="C3 logo" class="h-7 md:h-7" />
				<img src="FURG.svg" alt="FURG logo" class="h-6 md:h-6" />
				<img src="Faurg.svg" alt="FAURG logo" class="h-7 md:h-7 relative right-2" />
			</div>
		</div>
		<div class="flex items-center justify-center pt-2">
			<img src="prefeitura.png" alt="Prefeitura Logo" class="h-12 md:h-14">
		</div>
		</div>
	</div>
</footer>
