---
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
	{
		url: "https://astro.build/",
		description: "Astro's official website",
		icon: "mdi:home",
	},
	{
		url: "https://github.com/mhyfritz/astro-landing-page",
		description: "View source on GitHub",
		icon: "fa-brands:github-alt",
	},
	{
		url: "https://astro.build/chat",
		description: "Astro on Discord",
		icon: "fa-brands:discord",
	},
	{
		url: "https://twitter.com/astrodotbuild",
		description: "Astro on Twitter",
		icon: "fa-brands:twitter",
	},
];
---

<footer class="relative w-100 flex h-64 items-center justify-center">
	<div class="flex flex-col">
		<div class="flex justify-center items-center">
			<Icon name="logomark" class="h-60" />
		</div>
	</div>

	<div class="flex flex-col gap-4 spacing-y-4">
		<ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
			{
			links.map((link) => (
				<li>
				<a
					class="flex h-16 w-16 items-center justify-center rounded-full border-1 border-current p-4"
					href={link.url}
				>
					<span class="sr-only">{link.description}</span>
					<Icon class="h-full" name={link.icon} />
				</a>
				</li>
			))
			}
		</ul>
		<div class="w-100 border-2 border-slate-500"></div>
		<div>
			Patrocinadores
		</div>
	</div>
</footer>
