---
import { Icon } from 'astro-icon';
import type { NavItemDropdown } from '~/types';

interface Props extends NavItemDropdown {}

const { title, items } = Astro.props;


---
<li>
    <div class="relative inline-block">
        <button id="dropdown-button">
            {title}
            <Icon name="mdi:chevron-down" id="dropdown-icon" class="transition inline-block h-6"/>
        </button>
        <div class="transition dropdown-options bg-gray-900 absolute hidden drop-shadow-sm p-2 flex-col">
            {items.map(({title, url}) =>
                <a class="p-2 hover:bg-black hover:text-white" href={url}>{title}</a>
            )}
        </div>
    </div>
</li>

<script>
    const dropdownButton = document.querySelector("#dropdown-button");
    const items = document.querySelector('.dropdown-options');
    const icon = document.getElementById('dropdown-icon');

    const toggleDropdown = () => {
        if (!items) return;

        if (icon) {
            icon.classList.toggle('rotate-180');
        }
        
        if (items.classList.contains('hidden')) {
            items.classList.remove('hidden');
            items.classList.add('flex');
        } else {
            items.classList.add('hidden');
            items.classList.remove('flex');
        }
    }

    if (dropdownButton) {
        dropdownButton.addEventListener('click', toggleDropdown);
        dropdownButton.addEventListener('hover', toggleDropdown);
    }
</script>