---
import type { NavItem } from '~/types';

interface Props extends NavItem {}

const { title, url } = Astro.props;


---
<li class="
    flex justify-center items-center transition-all
    hover:font-medium hover:text-orange-500
">
    <a class="text-2xl" href={url}>
        {title}
    </a>
</li>