---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">FBOT</HeaderLink>

		<!-- TODO Teams Drop down -->
		<!-- <HeaderLink href="/teams">Teams</HeaderLink> -->

		<HeaderLink href="/awards">Awards</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/partners">Partners</HeaderLink>
		<HeaderLink href="/contact">Contact</HeaderLink>

		<!-- <HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink> -->
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
