---
import ContentSection from "~/components/content-section.astro";
import type { MemberCardProps } from "~/types";
import MemberCard from "~/components/member-card.astro";

export interface Props {
    members: MemberCardProps[];
}

const { members } = Astro.props
---

<ContentSection title="Members" id="members" theme="light">
    <div class="flex flex-col justify-center items-stretch space-y-2">
        <div class="flex flex-wrap gap-6 justify-center items-strech">
            {members.map(member => (
                <div class="flex  basis-auto md:basis-[31%]">
                    <MemberCard {...member}/>
                </div>
            ))}
        </div>
    </div>
</ContentSection>