---
import { createSignal } from 'solid-js';
import ContentSection from "~/components/content-section.astro";

export interface Props {
    photos: Midia[]
}

const { photos } = Astro.props
const [visible, setVisible] = createSignal(9);

const showMoreImages = () => {
    console.log("button clicked")
    setVisible(visible() + 10);
};

---

<ContentSection title="Photos" id="photos" theme="light">
    <div class="flex flex-col justify-center items-center space-y-2">
        <div class="w-full grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
            {photos.slice(0, visible()).map(photo => {
                return (
                    <div class="group aspect-video hover:text-dark">
                        <figure class="relative h-full w-full overflow-hidden">
                            <img src={photo.src} alt={photo.alt} 
                                class="object-cover w-full h-full transition-all duration-300 bg-cover group-hover:scale-110 group-hover:opacity-20 group-focus:scale-110 group-focus:opacity-20" 
                            />
                            <figcaption class="absolute inset-0">
                                <div class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100">
                                    <p class="border-2 border-current px-4 py-2 font-medium">{photo.alt}</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                )
            })}
        </div>
            <button class="botaoFoto mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Show More
            </button>
    </div>
        <script>
    const botoes = document.querySelectorAll('button.botaoFoto')
        botoes.addEventListener('click', () => {
            showMoreImages
        })
</script>
</ContentSection>

  